/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* Nav bar */
#menu img{
  margin-top: 7px;
}
.navbar-fixed-top {
    min-height: 60px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 60px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}


#menu.navbar-default {
    font-size: 16px;
    background-color: rgba(43, 43, 43, 1);
    border-bottom-width: 1px;
    opacity: 0.9;
}
#menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(43, 43, 43, 1);
}
#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(244, 77, 60, 1);
    opacity:0.5;
}
#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(205, 205, 205, 1)
    background-color: rgba(244, 77, 60, 1);
    opacity:0.5;
}
#menu.navbar-default .navbar-toggle {
    border-color: #f44d3c;
    
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #f44d3c;

}
#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #f44d3c;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #2b2b2b;
}

/*end*/


/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#section2 {
  padding-top:70px;  
    padding-bottom:50px;
    min-height:100%;
    min-height:calc(100% - 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
     background-color: #ed4c4c ;
     opacity: 0.2px;
     text-align: center;
     color: #F5F5DC;

}
#section1{
    padding-top:70px;  
    padding-bottom:50px;
    min-height:100%;
    min-height:calc(100% - 0);
    color: #f44d3c;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
     background-color: #C0C0C0;
     opacity: 0.5px;

}

#speakers h2{
  text-align: center;
  background-color: #ed4c4c;
   opacity: 0.5px;
}

#mymodal {
  text-align: center;
   opacity: 0.5px;
   color: #ed4c4c;
}

#mymodal h3{
   color:#F5F5DC;
}

#mymodal .modal-header{
  background-color: #ed4c4c;
  border-radius: 5px 5px 0px 0px;
}

#panelist h2{
  text-align: center;
  background-color: #C0C0C0;
   opacity: 0.5px;
}
#mymodal1 {
  text-align: center;
   opacity: 0.5px;
   color: #f44d3c;
}

#mymodal1 h3{
   color:#f44d3c;
}

#mymodal1 .modal-header{
  background-color: #C0C0C0;
  border-radius: 5px 5px 0px 0px;
}
/* additional sections */
#home {
  background: url(../images/home31.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home h2{
  font-size: 45px;
  color: #ffffff;
}

#home h4{
  font-size: 25px;
  color: #ffffff;
}

#countbox1{
  font-size: 25px;
  color: #ffffff;

}

#insight {
  display: table;
  position: relative;
  font-size: 17px;
  background-color: #C0C0C0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#insight hr{
    color: #C0C0C0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#keynote{
  text-align: center;
  background-color: #f5f5dc;
  height:100%;
}

#keynote h2{
  margin-top: 0px;
}

#keynote img{
  width: 200px;
  height: 200px;
}
#about {
}


#information {
  background: url(../images/estate.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
}

#google_map {
  height: 500px;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}


